
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}



body {
	margin-top: 75px;
}

.sm-margin-top {
    margin-top:100px;
}

.xs-margin-top {
    margin-top:30px;
}

footer {
	margin: 10px 0;
}

#comments, #comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
}

.photo {
	margin-bottom: 10px;
}

.social-buttons button {
	margin-top: 5px;
}

.font-large {
    font-size: 20px;
}

.sm-padding {
    padding-right:10px;
}


.xs-padding {
    padding-right:3px;
}

